# Data File
*.bam
*.bai
*.sam

# Database
*.db
*.fq
*.fa

# Text File
*.txt
!requirements.txt
!LICENSES.txt
nohup.out
*.sh

# Directory
__*/
*__/
HLA_*/
MHC*/

# Python
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
